@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply font-jost-regular;
  }
}

@font-face {
  font-family: "Jost-Regular";
  src: url("./public/font/Jost-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Jost-Medium";
  src: url("./public/font/Jost-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Jost-Medium-Italic";
  src: url("./public/font/Jost-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Jost-Bold";
  src: url("./public/font/Jost-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Jost-Extra-Bold";
  src: url("./public/font/Jost-ExtraBold.ttf") format("truetype");
} 

@font-face {
  font-family: "Jost-Black";
  src: url("./public/font/Jost-Black.ttf") format("truetype");
} 

/* REUSABLE CUSTOM CLASSES */
@layer components {
  
  .buttonHover {
    @apply hover:scale-[1.02] hover:opacity-75; 
  }

  .linkHover {
    @apply hover:text-[#FFB200] hover:opacity-90;
  }
}





